@import url(https://fonts.googleapis.com/css?family=Ubuntu);

$ubuntu: 'Ubuntu', sans-serif;

body {
  padding: 50px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family: $ubuntu;
}


a {
  color: #00B7FF;
}

.exercise-card {
  margin: 3rem 0 0 2rem;
  width: 20rem;
  height: 25rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.exercise-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
