@import url(https://fonts.googleapis.com/css?family=Ubuntu);

$ubuntu: 'Ubuntu', sans-serif;

body {
  padding: 50px;
  font-family: $ubuntu;
}

a {
  color: #00B7FF;
}

.horizontal-button-group {
  display: flex;
  flex-flow: row-reverse;
  margin: 25px 0 0 0;

  button {
    margin: 0 0 0 15px;
    height: 40px;
    width: 90px;
  }
}
